*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
.hero{
    width: 100%;
    height: 100%;
    background: black;
}
.hero__title{
    color: white;
    font-size: 24px;
}